.split-info-head {
    color: #034082;
    font-size: 16px;
    font-weight: normal;
    margin: 0 !important;
    line-height: 1.42em;
}

.split-info-description {
    color: #6f6f6f;
    font-size: 14px;
    margin-bottom: 0;
}

.split-item {
    margin-bottom: 1.5em;
}

.split-payment-icon {
    vertical-align: middle !important;
    max-height: 42px;
    max-width: 60px;
    width: auto;
    margin-top: -.3em;
}

.columns .column.main {
    max-width: 100%;
}

.split-promo iframe {
    max-width: 100%;
}

#learn-more img {
    height: 1em !important;
    margin: 0 .3em !important;
    vertical-align: baseline !important;
}