.split-section .split-logo {
  /* background: url("https://cdn.klarna.com/1.0/shared/image/generic/badge/en_us/pay_later/descriptive/pink.svg?width=965")  no-repeat 0 0% / 18rem auto; */
  background: url("https://brandedlogo.s3-ap-southeast-1.amazonaws.com/EasyStore_Banner.png")  no-repeat 0 0% / 18rem auto;
  height: 100px; 
  width: auto; 
  padding-left: 
  20rem; 
  display:inline-block; 
  vertical-align: middle;
}

.split-section .button-container {
  float: right;
}

.split-section .split-text { 
  display: inline-block; 
  vertical-align: middle; 
  width: 50%
}